.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  }

  h1 {
    color: rgb(60, 168, 145);
  }
  
  .laps-container {
    width: 50%;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; 
    margin-top: 20px;
  }
  
  hr {
    width: 70%;
    background-color: rgb(214, 214, 214); 
    height: 1px; 
    border: 0;
  }
  
  button {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: rgb(60, 168, 145);
    color: white;
    font-style: bold;
    font-size: 18px;
  }

  .buttons {
    margin-top: 20px;
  }
  
  .buttons button {
    margin-left: 6px;
  }